.home-banner {
    height: $banner-height;
    background-color: $color-primary-contrast;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .banner-text{
        padding-top: ($banner-height / 2) - 20px;
        display: block;
        text-align: center;
        font-size: 2.9em;
        color: #FFF;
    }
}

.support-panel{
    .backer-count{
        margin-top: 5px;
        font-size: 0.9em;
    }
    .description{
        margin-top: 10px;
        line-height: 1.2em;
        color: #888;
    }
}

.share{
    h3{
        margin-bottom: 20px;
    }
    .share-btn{
        margin-right: 10px;
    }
}

.goals {
    position: relative;
    top: -20px;

    .meta-container {
        background-color: white;
    }

    .numbers-container {
        padding: 25px;
        position: relative;
        top: 20px;
        background-color: $color-primary;
        color: #FFF;
        height: 350px;

        span.number-lg{
            display: block;
            margin-top: 40px;
            line-height: 0.3;
            font-size: 84px;
            font-weight: bold;
        }

        span.number-sm{
            display: inline-block;
            overflow: hidden;
            text-transform: uppercase;
            line-height: 1;
            font-size: 16px;
            font-weight: 300;
            color: $color-primary-contrast;
            max-height: 20px;
        }

        .btn-support{
            padding: 15px;
            background-color: $color-primary-contrast;
            text-transform: uppercase;
            color: #FFF;
            border-radius: 30px;
            display: inline-block;
            margin-bottom: 15px;
            margin-top: 15px;
        }
    }
}

.about {
    background-color: $color-gray;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 15px;
}

$date-width: 100px;
$date-icon-box-height: 75px;

.updates{
    .date-flag{
        height: $date-icon-box-height;
        position: relative;
        display: inline-block;
        margin-left: 50%;
        top: 90px;
        .date{
            font-size: 0.8em;
            color: $color-primary;
            width: $date-width;
            position: relative;
            left: -($date-width / 2.6);
            margin-top: 5px;
        }
    }
}


