.home-banner {
    height: $banner-height;
    background-color: $color-primary-contrast;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .banner-text{
        padding-top: ($banner-height / 2) - 20px;
        display: block;
        text-align: center;
        font-size: 2.9em;
        color: #FFF;
    }
}

.support-panel{
    .backer-count{
        margin-top: 5px;
        font-size: 0.9em;
    }
    .description{
        margin-top: 10px;
        line-height: 1.2em;
        color: #888;
    }
}

.share{
    h3{
        margin-bottom: 20px;
    }
    .share-btn{
        margin-right: 10px;
    }
}

.goals {
    position: relative;
    top: -20px;

    .meta-container {
        background-color: white;
    }

    .numbers-container {
        padding: 25px;
        position: relative;
        top: 20px;
        background-color: $color-primary;
        color: #FFF;
        height: 350px;

        span.number-lg{
            display: block;
            margin-top: 40px;
            line-height: 0.3;
            font-size: 84px;
            font-weight: bold;
        }

        span.number-sm{
            display: inline-block;
            overflow: hidden;
            text-transform: uppercase;
            line-height: 1;
            font-size: 16px;
            font-weight: 300;
            color: $color-primary-contrast;
            max-height: 20px;
        }

        .btn-support{
            padding: 15px;
            background-color: $color-primary-contrast;
            text-transform: uppercase;
            color: #FFF;
            border-radius: 30px;
            display: inline-block;
            margin-bottom: 15px;
            margin-top: 15px;
        }
    }
}

.about {
    background-color: $color-gray;
    padding-top: 40px;
    padding-bottom: 40px;
}

.tab-pane-donation{
    padding: 25px;
    background-image: url('../../assets/bg/bg_people.jpg');
    background-size: cover;

    .donor-box {
        background-color: #FFF;
        padding: 25px;
        margin-left: 15px;
    }

    h3 {
        color: white;
    }

    h4 {
        margin: 0;
        padding: 0;
        margin-bottom: 10px;
    }

    .orange {
        margin-top: 15px;
        color: #FB5B42;
        font-size: 0.8em;
        text-transform: uppercase;
    }
}

$date-width: 100px;
$date-icon-box-height: 75px;

.updates{

    .list{
        padding-bottom: 25px;
        padding-top: 5px;

        .post {

            h3 {
                font-size: 22px;
                line-height: 1.5em;
            }

            img {
                max-width: 100%;
                margin-bottom: 15px;
                margin-top: 15px;
            }

            p {
                font-size: 18px;
                color: #676767;
                line-height: 1.8em;
            }

            a {
                font-size: 12px;
                text-transform: uppercase;
                color: #42CFD2;
            }
        }
    }

    .no-updates {
        padding: 20px;

        p{
            margin-top: 10px;
            font-size: 1.2em;
            color: $color-primary-contrast;
            text-align: center;
        }
    }

    .date-flag{
        height: $date-icon-box-height;
        position: relative;
        top: 20px;
        display: inline-block;

        .date{
            font-size: 0.8em;
            color: $color-primary;
            width: $date-width;
            font-weight: 700;
            margin-top: 0px;
            text-align: center;
        }

        i{
            margin-left: 35px;
        }
    }
}


