.banner {
    height: 250px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.support-panel{
    .backer-count{
        margin-top: 5px;
        font-size: 0.9em;
    }
    .description{
        margin-top: 10px;
        line-height: 1.2em;
        color: #888;
    }
}
