/vendor
/node_modules
/public/css
/public/js
/public/build
/public/images/*.png
/public/images/*.gif
/public/images/*.jpeg
/public/images/*.jpg
/public/images/*.jpg
/public/images/*.tiff
/public/platform
/public/organisation
/public/project
Homestead.yaml
Homestead.json
.env
/vagrant/Vagrantfile
/vagrant/.vagrant
/vagrant/puphpet
/vagrant/html