<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="bootstrap/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <listeners>
        <listener file=".app/test/TestCase.php" class="TestCase" />
    </listeners>
    <testsuites>
        <testsuite name="setup">
            <directory>./tests/Setup/</directory>
        </testsuite>
        <testsuite name="application">
            <directory>./tests/W4P/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">app/</directory>
        </whitelist>
    </filter>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="DB_CONNECTION" value="testing"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="QUEUE_DRIVER" value="sync"/>

        <env name="MAIL_DRIVER" value="smtp"/>
        <env name="MAIL_HOST" value="127.0.0.1"/>
        <env name="MAIL_PORT" value="1025"/>
        <env name="MAIL_USERNAME" value="null"/>
        <env name="MAIL_PASSWORD" value="null"/>
        <env name="MAIL_ENCRYPTION" value="null"/>
        <env name="MAIL_FROM" value="mail@W4P.org"/>
        <env name="MAIL_NAME" value="W4P"/>
    </php>
</phpunit>
