.btn4 {
    display: inline-block;
    text-decoration: none;
    font-size: 0.95em;
    padding: 10px 20px;
    border-radius: 100px;
    border: 2px solid $color-orange;
    color: $color-orange;
    margin: 10px 0;
    text-transform: uppercase;
    background-color: transparent;

    &:hover, &:active, &:visited {
        text-decoration: none !important;
        border: 2px solid darken($color-orange, 10);
        color: darken($color-orange, 10);
    }

    .disabled {
        border: 2px solid #AAA;
        color: #AAA;
    }

    &.white {
        border: 2px solid #FFF;
        color: #FFF;

        &:hover, &:active, &:visited {
            text-decoration: none !important;
            border: 2px solid darken(#FFF, 10);
            color: darken(#FFF, 10);
        }
    }

    &.main {
        border: 2px solid $color-primary;
        color: $color-primary;

        &:hover, &:active, &:visited {
            text-decoration: none !important;
            border: 2px solid darken($color-primary, 10);
            color: darken($color-primary, 10);
        }
    }

    &.center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 230px;
        text-align: center;
    }
}