.share-btn{
    text-decoration: none !important;
    width: 40px;
    height: 40px;
    background-image: url('../../assets/icons/share_icons.png');
    background-size: 120px 80px;
    display: inline-block;

    &.share-fb {
        background-position: 0px 0px;

        &:hover{
            background-position: 0px 40px;
        }
    }

    &.share-gp {
        background-position: 40px 0px;

        &:hover{
            background-position: 40px 40px;
        }
    }

    &.share-tw {
        background-position: 80px 0px;

        &:hover{
            background-position: 80px 40px;
        }
    }
}