<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">History</h2>
                    <h3 class="section-subheading text-muted">How did W4P start?</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>March 2014</h4>
                                    <h4 class="subheading">It all started with a common problem</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Open Knowledge Belgium and iDROPS discussed about projects and quickly found that finding resources for small projects was a common problem. We thought crowdsourcing efforts would be brilliant but did not find the right channel. Hence W4P came to life as an idea.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>September 2014</h4>
                                    <h4 class="subheading">An idea turned in a project proposal</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Six months later, we found the perfect project call. Chest project - Call3 was looking for Open Source innovation prototypes that could potentially transform social innovation. We submitted and hoped for the best.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>October 2015</h4>
                                    <h4 class="subheading">Project approved, time to get to work</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Now we have just 8 months to research, code, build, test and iterate upon this project. Tight deadline but we have the experience and goodwill to make this succesful.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>June 2016</h4>
                                    <h4 class="subheading">The future will hold an open crowdsourcing platform</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Our project period ends on the end of May, so in June 2016 we will have released our shiny new crowdsourcing template. By then we hope to have a few good cases and a lot of potential re-users.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <a href="#contact" class="page-scroll">
                                  <img class="img-responsive img-circle" src="img/logos/W4P.png" alt="W4P logo">
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
