<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">History</h2>
                    <h3 class="section-subheading text-muted">How did W4P start?</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>March 2014</h4>
                                    <h4 class="subheading">It all started with a common problem</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Open Knowledge Belgium and iDROPS met up to discuss overlapping projects and goals and quickly found a common problem, funding. It's really hard these days to fund relative small projects that only have local impact. We thought crowdsourcing could be an opportunity but social innovation projects are often fading on large crowdfunding websites.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>September 2014</h4>
                                    <h4 class="subheading">An idea turned in a project proposal</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Six months later, we found the perfect project call. Chest project - Call3 was looking for Open Source innovation projects that transform social innovation. We submitted and hoped for the best.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>October 2015</h4>
                                    <h4 class="subheading">Project approved, time to work</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>June 2016</h4>
                                    <h4 class="subheading">The future will hold a crowdsourcing platform</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Our project period ends on the end of May, so in June 2016 we will have released our shiny news Open Source platform</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
