<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About W4P</h2>
                    <h3 class="section-subheading text-muted">If you need a way to crowdsource innovation projects, we might have a solution. W4P is an Open Crowdsourcing platform designed to host single projects that are searching for funding (donations or rewards based), volunteers, coaching or materials.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-wrench fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Easy to set-up</h4>
                    <p class="text-muted">We've made our platform as lightweight as possible. Download our code, host it yourself and follow the installation wizard. Plus, our code is fully documented for those who want change features or looks.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-mobile fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Responsive Design</h4>
                    <p class="text-muted">Not only does it look good on your desktop computer, it can be used on every mobile device as well. The front page is your project main landing page. No messy overview of multiple projects with different objectives. </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-unlock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Open Source</h4>
                    <p class="text-muted">It's your platform, so don't be prude, make it your own, add your branding and colour schemes. Have a lot of projects and different topics? You can host multiple instances that be adapted to specific targetgroups.</p>
                </div>
            </div>
        </div>
    </section>
