<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Main features</h2>
                    <h3 class="section-subheading text-muted">Why you should love this platform.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-wrench fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Easy to set-up</h4>
                    <p class="text-muted">We've made our platform as lightweight as possible. Fork it, host it and follow the installation wizard.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-mobile fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Responsive Design</h4>
                    <p class="text-muted">Not only does it look good on your computer, it looks and feel good on any device.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-unlock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Open Source</h4>
                    <p class="text-muted">It's your platform, so don't be prude, make it your own, add your branding and colour schemes.</p>
                </div>
            </div>
        </div>
    </section>
