/**
CONFIGURATION VARIABLES
*/

// Height of the navigation bar.
$navigation-height: 100px;

// Preferred fixed height of the footer.
$footer-height: 320px;

// Additional spacing between the footer and body. Applied as padding to the body tag.
$footer-additional-padding: 25px;

// Banner height
$banner-height: 300px;