/**
CONFIGURATION VARIABLES
*/

// Font names
$sans-serif: "Open Sans", "Helvetica Neue", "Arial", sans-serif;
$serif: "Georgia", "Times", "Times New Roman", serif;

// Preferred fixed height of the footer.
$footer-height: 360px;

// Additional spacing between the footer and body. Applied as padding to the body tag.
$footer-additional-padding: 25px;

// Banner height
$banner-height: 300px;