/*
  These are the media queries in which we include all our responsive code if it's necessary. Please note that these
  have the same breakpoints as Twitter Bootstrap does, considering we use Twitter Bootstrap.
*/

img {
  display: block;
  max-width: 100%;
  height: auto;
}

@media (min-width : 1200px){

  #donation__start-form{
    .about:nth-of-type(1) {
      padding-top: 0;
    }

    .about{
      padding-bottom:0;
    }
  }
}

@media (min-width : 992px) and (max-width: 1199px) {

  #donation__start-form {
    .about:nth-of-type(1) {
      padding-top: 0;
    }
    .about {
      padding-top: 40px;
      padding-bottom:0;
    }

    //Donation Start Page - Form - col-md-10
    .donation__form__item-margin-top {
      margin-top: 40px;
    }
  }
}

@media (min-width : 768px) and (max-width: 991px) {

  #donation__start-form {
    .about:nth-of-type(1) {
      padding-top: 0;
    }
    .about {
      padding-top: 40px;
      padding-bottom:0;
    }

    //Donation Start Page - Form - col-md-10
    .donation__form__item-margin-top {
      margin-top: 40px;
    }
  }
}

@media  (min-width : 480px) and (max-width: 767px) {

  //Homepage
  .goals .numbers-container {
    height:500px !important;
  }


  #donation__start-form {
    .about:nth-of-type(1) {
      padding-top:0;
    }
    .about{
      padding-top: 40px;
      padding-bottom:0;
    }

    //Donation Start Page - Form - col-md-10
    .donation__form__item-margin-top {
      margin-top:40px;
    }
  }
}

@media (min-width : 320px) and (max-width: 479px) {
  // height for container goals must be given so that it overwrites the standard height
  .goals {
    .numbers-container {
      height: 500px !important;
    }
  }


  #donation__start-form {
    .about:nth-of-type(1) {
      padding-top:0;
    }
    .about{
      padding-top: 40px;
      padding-bottom:0;
    }

    //Donation Start Page - Form - col-md-10
    .donation__form__item-margin-top {
      margin-top:40px;
    }
  }
}



@media  (max-width: 767px) {
    .home-banner {
        display: none;
    }

    .navbar-default, .navbar-inverse{
        .navbar-brand{
            padding: 0 25px
        }
    }

    .navbar-collapse{
        padding: 0;
        .navbar-nav{
            margin: 0;

            li:last-child{
                border-bottom: 1px solid #ddd;
            }
        }
    }

    .goals{
        .meta-container{
            text-align: center;

            .meta{
                padding-right: 0;

                .percentage{
                    border: 0;
                }

                &.project-meta{
                    span{
                        margin-right: 0;
                        display: block;
                    }
                }
            }
        }

        .numbers-container{
            text-align: center;

            .number-lg{
                font-size: 50px;
            }

            .number-md{
                font-size: 40px;
            }
        }
    }
}

@media (min-width: 0px) and (max-width:992px) {
  footer {
    height: 800px !important;
  }
  body {
    margin-bottom: 800px !important;
    padding-bottom: 0px !important;
  }
}

@media (min-width: 0px) and (max-width:768px) {
  .project {
    margin-top: 50px !important;
  }
  .navbar-header {
    border-bottom: 1px solid #CCC;
  }
}