.setup {
    background-color: $color-gray;

    p{
        color: $color-grey-text;
    }

    .logo img{
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .content-wrapper {
        padding-top: 25px;
    }

    .progress-wrapper {
        background-color: #FFF;
        border-bottom: 1px solid darken($color-gray, 5);
        padding-bottom: 20px;
        padding-top: 35px;
    }

    @media (max-width: 992px){
        .setup-progress {
            display: none;
        }
    }

    .setup-progress {
        margin-top: 70px;
        text-align: center;

        ul {
            display: inline-block;
            margin-left: auto;
            margin-right: auto;
            font-size: 0;

            li {
                display: inline;
                color: #CCC;
                padding: 0 25px;
                position: relative;
                counter-increment: setupProgressStep;
                font-size: 16px;

                &.active{
                    color: #555;

                    &:before{
                        width: 30px;
                        height: 30px;
                        top: -35px;
                        background-color: $color-primary;
                        color: #fff;
                        font-size: 15px;
                        line-height: 26px;
                    }
                }

                &:before{
                    position: absolute;
                    z-index: 100;
                    content:counter(setupProgressStep);
                    background-color: #fff;
                    border-radius: 20px;
                    border: 3px solid $color-primary;
                    color: $color-primary-light;
                    font-weight: 300;
                    font-size: 10px;
                    width: 20px;
                    height: 20px;
                    left: 50%;
                    text-align: center;
                    line-height: 14px;
                    margin-left: -10px;
                    top: -30px;
                }

                &:after{
                    position: absolute;
                    z-index: 99;
                    content: '';
                    background-color: $color-primary;
                    width: 100%;
                    left: 0;
                    height: 2px;
                    top: -20px;
                }

                &:first-child:after{
                    left: 50%;
                }

                &:last-child:after{
                    width: 50%;
                }
            }
        }
    }
}