html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: $footer-height;
    padding-bottom: $footer-additional-padding;

    &.setup{
        margin-bottom: 0px;
    }
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: $footer-height;
    background-color: $color-gray;
    .container{
        padding: 15px;
    }

    .small-legal {
        font-size: 0.8em;
    }
}