// Typography

$sans-serif: Helvetica, "Helvetica Neue", "Arial", sans-serif;
$serif: "Georgia", "Times", "Times New Roman", serif;

/*

TODO: You can include custom fonts here.

@font-face {
    font-family: PenumbraFlareStd;
    src: url("../fonts/PenumbraFlareStd-Light.otf") format("opentype");
}
*/