// Typography
*{
    outline: none;
}

.no-margin{
    margin: 0;
}

a{
    color: $color-primary;

    &:hover, &:focus{
        color: $color-primary;
    }
}

p, li{
    color: $color-grey-text;
    line-height: 1.8em;

    &:last-child{
        margin-bottom: 0;
    }
}

.campaign-over {
    color: #FFF;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: #3E3E3E;

    &:first-child{
        margin-top: 0;
    }
}